In [ ]:
from util import IMG_FOLDER, IMG_CSV
from util import  TRAIN_DATA_PATH, TARGET_SHAPE,UPPER_LIMIT_OF_IMAGES 
from Extractor import create_our_training_data

TRAIN_DATA_PATH = "../OurSpeciesTrainingData"
IMG_CSV.to_csv(TRAIN_DATA_PATH+"/data.csv")
create_our_training_data(IMG_FOLDER,TRAIN_DATA_PATH,TARGET_SHAPE)

100%|█████████▉| 50863/51033 [58:58<00:06, 25.62it/s]

In [1]:
from util import IMG_FOLDER, IMG_CSV
from util import  TRAIN_DATA_PATH, TARGET_SHAPE,UPPER_LIMIT_OF_IMAGES 
from Extractor import create_our_training_data
train_df = IMG_CSV

In [2]:
train_df

                    image               species individual_id
0      00021adfb725ed.jpg    melon_headed_whale  cadddb1636b9
1      000562241d384d.jpg        humpback_whale  1a71fbb72250
2      0007c33415ce37.jpg    false_killer_whale  60008f293a2b
3      0007d9bca26a99.jpg    bottlenose_dolphin  4b00fe572063
4      00087baf5cef7a.jpg        humpback_whale  8e5253662392
...                   ...                   ...           ...
51028  fff639a7a78b3f.jpg                beluga  5ac053677ed1
51029  fff8b32daff17e.jpg  cuviers_beaked_whale  1184686361b3
51030  fff94675cc1aef.jpg            blue_whale  5401612696b9
51031  fffbc5dd642d8c.jpg                beluga  4000b3d7c24e
51032  fffdcd42312777.jpg    bottlenose_dolphin  4ddb2eeb5efb

[51033 rows x 3 columns]

In [5]:
import numpy as np
train_df['individum_count'] = train_df.groupby('individual_id')['individual_id'].transform('count') # introduce counts for later

# For later we create int labels
ids= np.unique(train_df["individual_id"].values)
give_int_id = np.vectorize(lambda id_of_animal: int(np.where(ids==id_of_animal)[0]))
train_df["label"] = give_int_id(train_df["individual_id"])

species_ids = np.unique(train_df["species"].values)
give_species_int_id = np.vectorize(lambda id_of_animal: int(np.where(species_ids==id_of_animal)[0]))
train_df["species_label"] = give_species_int_id(train_df["species"])

train_df["species_counts"] = train_df.groupby('species_label')["species_label"].transform('count')

train_df = train_df.sort_values(['individum_count'])

train_df.head()

,image,species,individual_id,individum_count,label,species_label,species_counts
0,00021adfb725ed.jpg,melon_headed_whale,cadddb1636b9,1,12348,18,1689
16738,546ddeb9e61698.jpg,humpback_whale,7c3b38f5ba08,1,7621,14,7392
16742,5471e8805a8aef.jpg,dusky_dolphin,a001b65ffdfd,1,9769,8,3139
16748,547ee6a4582a34.jpg,melon_headed_whale,52b9a021286d,1,5030,18,1689
16752,548462d50b56e4.jpg,humpback_whale,e5dad0d8b4f5,1,14018,14,7392

In [6]:
train_df.to_csv("../OurSpeciesTrainingData/data.csv")