In [1]:
from util import training_df
import pandas as pd
import numpy as np
import math
df = training_df
BATCH_SIZE = 64
task = "individual_id"

In [3]:
def smart_batches(df:pd.core.frame.DataFrame, BATCH_SIZE:int, task:str = "individual_id") -> pd.core.frame.DataFrame:
    """
    This is one of the most important functions:
    -----------------
    arguments:
    df - pandas data frame of our data
    BATCH_SIZE - the bath_sie of our tensorflow dataset, must be even
    task - either "individual_id" or "species", Specifies if we want to create train to identify species or individuals.
    
    -----------------
    returns
    Ordered Data Frame for Tensorflow Data set creation, such that the batches are valid for the triplet loss,
    i.e. never contains only one positve.
    """
    assert task in ["individual_id","species"] + df.columns.tolist(), 'task has to be either "individual_id" or "species"" and must be column index of df'
    assert BATCH_SIZE%2==0, "BATCH_SIZE must be even"
    
    label = "label" if task == "individual_id" else "species_label"

    classes,counts = np.unique(df[label],return_counts=True)
    uneven_mask = counts % 2 == 1
    uneven_classes = classes[uneven_mask ].tolist()
    even_classes = classes[np.logical_not(uneven_mask)].tolist()
    
    amount_of_containers = math.ceil(len(df)/BATCH_SIZE)
    container = np.array([BATCH_SIZE for i in range(amount_of_containers-1) ] + [len(df)%BATCH_SIZE])
    assignments = [[] for i in container]
    
    df["assign_to"] = 0
    
    if not len(uneven_classes)%2 != container[-1]%2:
        unlucky_class = uneven_classes.pop(0)
        index = df[df[label]==15].iloc[0].name
        df.drop(index = index)
    
    
    if len(uneven_classes)%2==1:
        pass
    
    
    pass

In [6]:
df

                    image               species individual_id
0      00021adfb725ed.jpg    melon_headed_whale  cadddb1636b9
1      000562241d384d.jpg        humpback_whale  1a71fbb72250
2      0007c33415ce37.jpg    false_killer_whale  60008f293a2b
3      0007d9bca26a99.jpg    bottlenose_dolphin  4b00fe572063
4      00087baf5cef7a.jpg        humpback_whale  8e5253662392
...                   ...                   ...           ...
51028  fff639a7a78b3f.jpg                beluga  5ac053677ed1
51029  fff8b32daff17e.jpg  cuviers_beaked_whale  1184686361b3
51030  fff94675cc1aef.jpg            blue_whale  5401612696b9
51031  fffbc5dd642d8c.jpg                beluga  4000b3d7c24e
51032  fffdcd42312777.jpg    bottlenose_dolphin  4ddb2eeb5efb

[51033 rows x 3 columns]

In [4]:
label = "label" if task == "individual_id" else "species_label"

classes,counts = np.unique(df[label],return_counts=True)
uneven_mask = counts % 2 == 1
uneven_classes = classes[uneven_mask ].tolist()
even_classes = classes[np.logical_not(uneven_mask)].tolist()

amount_of_containers = math.ceil(len(df)/BATCH_SIZE)
container = np.array([BATCH_SIZE for i in range(amount_of_containers-1) ] + [len(df)%BATCH_SIZE])

if not len(uneven_classes)%2 != container[-1]%2:
    unlucky_class = uneven_classes.pop(0)
    index = df[df[label]==15].iloc[0].name
    df.drop(index = index)

KeyError: 'label'

In [11]:
df["assign_to"] = 0

In [12]:
df

,image,species,individual_id,count,label,assign_to
0,000562241d384d.jpg,humpback_whale,1a71fbb72250,2,673,0
1,00087baf5cef7a.jpg,humpback_whale,8e5253662392,10,3570,0
2,000be9acf46619.jpg,beluga,afb9b3978217,10,4386,0
3,000bef247c7a42.jpg,humpback_whale,444d8894ccc8,4,1670,0
4,000c3d63069748.jpg,beluga,df94b15285b9,10,5574,0
...,...,...,...,...,...,...
25539,fff47736026701.jpg,humpback_whale,ff95891f0378,2,6320,0
25540,fff603f5af8614.jpg,fin_whale,40fe65946167,10,1614,0
25541,fff8b32daff17e.jpg,cuviers_beaked_whale,1184686361b3,2,459,0
25542,fff94675cc1aef.jpg,blue_whale,5401612696b9,3,2069,0
25543,fffbc5dd642d8c.jpg,beluga,4000b3d7c24e,4,1586,0